<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="student" class="com.seleniumexpress.di.object.Student">
        <property name="id" value="1001"></property>
        <property name="mathCheat">
        	<bean class="com.seleniumexpress.di.object.MathCheat"></bean>
        </property>
        </bean>
        
        <bean id="ms" class="com.seleniumexpress.di.Employee">
        <constructor-arg name="empName" value="Micheal Scott"/>
        <constructor-arg name="role" value="Regional Manager"/>
        </bean>
        
         <bean id="km" class="com.seleniumexpress.di.Employee">
        <constructor-arg name="role" value="Accountant"/>
        </bean>
        
        <bean id="harika" class="com.seleniumexpress.di.Student">
        <property name="id" value="1"></property>
        <property name="studentName" value="Harika Penukonda"></property>
        </bean>
        
        <bean id="admin" class="com.seleniumexpress.di.Student">
        <property name="id" value="2"></property>
        <property name="studentName" value="Admin"></property>
        </bean>
        
</beans>